html,body,.page-layou-settings {
  height: 100%;
}
body {
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
  outline: none;
}
a, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.page-layout-settings {
  display: flex;
  flex: 1 0 auto;
}
.nav-tabs--vertical {
  display: flex;
  flex: 1 0 auto;
  background-color: white;
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  padding: 50px;
  flex-direction: column;
}
.nav-category {
  text-transform: uppercase;
  font-size: 11px;
  color: #666;
  margin: 0 0 10px 0;
}
.nav-item {
  margin: 0 0 10px 0;
  cursor: pointer;
}
.nav-item.active {
  text-decoration: underline;
}
.nav-item:last-child {
  margin-bottom: 50px;
}
.settings-content {
  padding: 30px 50px;
  padding-left: calc(270px + 50px);
  background-color: #F4F6F8;
  flex: 1;
}
.settings-content.availability,
.settings-content.tables{
  display: none;
}
.settings-content
.settings-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.settings-description{
  font-size: 13px;
}
.settings-block {
  display: flex;
  flex: 1 0 auto;
  padding-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e4e6e9;
}
.settings-block:last-child {
  border-bottom: 0;
}
.settings-block_left-side {
  flex: 1 1 40%;
  margin-right: 30px;
}
.settings-block_right-side {
  flex: 1 1 60%;
  margin-bottom: 50px;
}
.content-box {
  padding: 20px;
  background-color: white;
}
.elevation-4 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}
.mt-4 {
  margin-top: 30px;
}
