
  *{
  box-sizing: border-box;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page-layout-settings {
  display: flex;
  flex: 1 0 auto;
}
.nav-tabs--vertical {
  display: flex;
  flex: 1 0 auto;
  background-color: white;
  height: 100%;
  width: 270px;
  position: sticky;
  padding: 50px;
  flex-direction: column;
}
.nav-category {
  text-transform: uppercase;
  font-size: 11px;
  color: #666;
  margin: 0 0 10px 0;
}
.nav-item {
  margin: 0 0 10px 0;
  cursor: pointer;
}
.nav-item.active {
  text-decoration: underline;
}
.nav-item:last-child {
  margin-bottom: 50px;
}
.settings-content {
  padding: 50px;
  background-color: #F4F6F8;
}
.settings-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.settings-description{
  font-size: 13px;
}
.settings-block {
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 50px;
}
.settings-block_left-side {
  flex: 1 1 40%;
  margin-right: 30px;
}
.settings-block_right-side {
  flex: 1 1 60%;
  margin-bottom: 50px;
}
.content-box {
  padding: 20px;
  background-color: white;
}
.elevation-4 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}
